#grad1 {
  height: 8000px;
  width:2000px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, white, darkgreen, black);
}

#fade-in {
    animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}



/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #08fc08;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}




h1 {
	font-family: monospace;
	font-size: 200px;
}

span {
	font-size: 12px;
	font-family: monospace;
}

p {
	font-size: 20px;
	font-family: monospace;
}


.em-wider   { letter-spacing: 1em; }


@media screen and (min-width: 1000px) {
  p {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 320px) {
   p {
    font-size: 25px;
    text-align: center;

  }
}


