#grad1 {
  height: 4000px;
  width:2000px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, white, darkgreen, black);
}

h1 {
	font-family: monospace;
	font-size: 200px;
	color: darkgreen;
}

span {
	font-size: 12px;
	font-family: monospace;
}

p {
	font-size: 12px;
	font-family: monospace;
}


.em-wider   { letter-spacing: 1em; }


